infra/*.d.ts
infra/*.js
connect
infra/node_modules
infra/assets
infra/cdktf.out
infra/cdktf.log
infra/*terraform.*.tfstate*
infra/.gen
infra/.terraform
infra/tsconfig.tsbuildinfo
infra/!jest.config.js
infra/!setup.js
infra/!.prettierrc.js
**/.DS_Store
**/.decrypted*